/* TT Norms */
@font-face {
    font-family: "TT Norms Regular";
    src: url("./assets/tt_norms_regular-webfont.woff") format("woff"), url("./assets/tt_norms_regular-webfont.woff2") format("woff2") !important;
    font-weight: normal;
}

@font-face {
    font-family: "TT Norms Medium";
    src: url("./assets/tt_norms_medium-webfont.woff") format("woff"), url("./assets/tt_norms_medium-webfont.woff2") format("woff2") !important;
    font-weight: medium;
}

@font-face {
    font-family: "TT Norms Bold";
    src: url("./assets/tt_norms_bold-webfont.woff") format("woff"), url("./assets/tt_norms_bold-webfont.woff2") format("woff2") !important;
    font-weight: bold;
}

/* @import url("$staples-ds");
@import url("$overrides-css"); */