#user-nav:after {
    display: none;
}

#user-avatar {
    border-radius: 50%;
    width: 30px;
    margin-right: 10px;
}

#user>div.btn.with-image.dropdown-toggle {
    background: transparent;
    border: 0px;
    padding: 0px;
    min-width: 0px;

}

#user-dropdown {
    left: -62px;
}

.search-wrapper {
    background-image: url('./assets/homepage_background_image.svg');
    background-repeat: no-repeat;
    background-size: cover;

}